*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    
}

.dj{
    display: flex;
    justify-content: center;
}
.a{
    align-items: center;
}
.active{
    display: none !important;
}


.page{
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background-image: url(./bg.png);
    padding-bottom: 5%; 
    padding-top: 5%;
}


.container{
    margin: auto;
    width: 85%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: left;
    height: 1050px;
    min-height: fit-content;
    
}

.container img{
    height: 90%;
    width: 65%;
    border-radius: 10px;
    justify-content: left;
    margin-right: 30%;
margin-top:5%;
margin-left: 0%;
    
}

.details{
    position: absolute;
    /* left: 25%; */
    right: 0px;
    height:auto;
    width: 38%;
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(7px);
    min-height: fit-content;
    padding: 60px 90px;
    box-shadow: 0px 0 20px -10px #888;
    background-color: white;
    /* backdrop-filter: blur(15px); */
    
}

.option{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.registerbtn{
    height: 35px;
    width: 80px;
    border-radius:20px ;
    color: white;
    background-color:  #e5b1e4 ;
    font-size: small;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
    transition: 1s;
}

.loginbtn{
    height: 35px;
    width: 80px;
    border-radius:20px ;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
    background-color:  #e5b1e4 ;
    transition: 1s;
}

.heading h1{
    font-weight: 700;
    font-size: 6vh;
    margin-bottom: 5px;
}

.heading h3{
    font-size: 12px;
    font-weight: 600;
    color: gray;
    margin-bottom: 30px;
}
label{
    font-size: medium;
    font-weight: 600;
    color: rgba(75, 72, 72, 0.692);
}
input{
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.692);
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-size: large;
    font-weight: 600;
    color: rgb(75, 72, 72);
    padding: 10px;

}
input:focus{
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.submitbtn{
    height: 45px;
    width: 100px;
    border-radius:30px ;
    color: white;
    background-color:  #e5b1e4 ;
    font-size: medium;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 50px 0px 0px;
    transition: 1s;
    cursor: pointer;
}

.message{
    font-size: medium;
    font-weight: 600;
    color: red;
}
.block{
    display: block !important;
}

.registerbtn:hover,.submitbtn:hover,.loginbtn:hover{
    transform: scale(1.2);
}