* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#409ef533, #c240f533);
  min-height: fit-content;
}

.container {
  width: 100%;
  overflow: hidden;
  background-color: #feeddd;
  padding: 28px;
  border-radius: 10px;
  position: relative;
  display: flex;
  /* justify-content: center; */
  min-height: 100%;
  box-shadow: inset 0px 0px 41px 6px white;
  padding-left: 0px;
}
.div1 {
  background-color: transparent;
  height: auto;
  width: 20%;
  border-radius: 10px;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -180px 270px;
  background-repeat: repeat;
}
.div2 {
  background-color: white;

  background-size: 100%;
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.photo {
  background-color: white;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.name {
  color: black;
  font-weight: bold;
  margin: auto;
  width: fit-content;
  font-size: x-large;
  margin-bottom: 50px;
}
.common {
  display: flex;
  align-items: center;
  margin: 20px 45px;
  font-size: large;
}
.first {
  font-size: 40px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 0px 40px ;
  align-items: center;
}
.common i {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.637);
  background-color: white;
  margin-right: 25px;
  padding: 10px;
  border-radius: 10px;
}

.image img {
  position: absolute;
  bottom: -70px;
  height: 500px;
  width: 500px;
  z-index: 0;
}

.wrap {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  display: none;
}

.pDetails {
  width: 450px;
  height: 450px;
  margin: 15px;
  border-radius: 40px;
  padding: 20px;
  
}
#name {
  width: 284px;
  height: 76px;
  left: 341px;
  top: 230px;
  font-family: Baloo 2;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 76px;
}
.pDetails span{
  font-size: 22px;
  color: black;
}
.profilePic {
  width: 270px;
  height: 270px;
  margin: 15px 25px;
  background-color: transparent;
  background-size: 270px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 15%;
}

.profilePic img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom:20px;
}
.profilePic .edit{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.details {
  width: 500px;
  height: 114px;
  left: 341px;
  top: 312px;

  font-family: Baloo 2;
  font-style: normal;
  font-weight: bold;
  font-size: larger;
  line-height: 57px;
  color: #757575;
}
.header{
  display: flex;
  width: 100%;
  background-color: #E8F0FD;
  height: 50px;
  align-items: center;
  font-size: large;
  font-weight: 600;
  padding: 0px 20px;
  margin-top: 20px;
}
.sno{
  width: 80px;
}
.rname{
  width: 130px;
}
.format{
  width: 180px;
}
.department{
  width: 180px;
}
.date{
  width: 150px;
}

.Reports, li{
  padding: 0px;
}
.item{
  display: flex;
  padding: 10px 20px;
  margin: 15px 0px;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}
.item .sno{
  max-width: 80px;
  min-width: 80px;
}
.item .reportName input{
  max-width: 110px;
  width: 110px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}

.item .Reportpic input{
  max-width: 160px;
  width: 160px;
  border: none;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}
.item .date input{
  max-width: 130px;
  width: 130px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}

.item .department input{
  max-width: 140px;
  width: 140px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.596);
}
input{
  font-size: medium;
  padding: 10px;
  height: 30px;
}


.addBtn{
  width: 110px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8F0FD;
  font-weight: 600;
  cursor: pointer;
  margin-left: 40px;
}

.removeBtn{
  width: 110px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8F0FD;
  cursor: pointer;
  font-weight: 600;
  margin-left: 40px;
}

.item .itemName {
  max-width: 130px;
  width: 130px;
}
.item .itempic img {
  max-width: 130px;
  width: 80px;
  
}
.item .itempic{
  width: 180px;
}
.item .amt{
  max-width: 150px;
  width: 150px;
  
}
.item .details {
  width: 250px;
}
.item .itemCategory{
  max-width: 160px;
  width: 160px;
}
